

.botones    {

    
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 360px 360px;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    position: absolute;
    filter: brightness(100%)


}


.button {


   font-size: 120px;
   height: 360px;
   width: 360px;
   transition: all 200ms;
   margin: 0;
   



}
.playing {
  
  border-color: white;

background-color: aquamarine !important;




}


.center {

  display: flex;
  justify-content: center;
  align-items: center;

border-radius: 100%;
background-color: black;
position: absolute;
left: 180px;
top: auto;
width: 360px;
height: 360px;


}

.startButton  {

  background-color: blueviolet;
  height: 120px;
  width: 120px;
  border-radius: 100%;

}


body    {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}
#demo2  {

    color: white;
}


#demo3 {

color: white;
font-size: 72px;
text-justify: auto;
align-items: center;

}

#button1    {

    background-color: red;
    border-radius: 100% 10% 90% 10%;

    

}

#button2    {

    background-color: blue;
    border-radius: 10% 100% 10% 90%;

}

#button3    {

        background-color: green;
        border-radius: 10% 90% 10% 100%;
     
}

#button4    {

    background-color: yellow;
    border-radius: 90% 10% 100% 10%;
  
}


  

 