

.botones    {

    
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 360px 360px;
    align-items: center;
    justify-content: center;
    

}


.button {


   font-size: 120px;
   height: 360px;
   width: 360px;
   transition: all 200ms;
   margin: 0;


}
.playing {
  
  border-color: white;
  background-color: aquamarine !important;

}


.center {

  display: flex;
  justify-content: center;
  align-items: center;

border-radius: 100%;
background-color: black;
position: absolute;
top:26vh;
left: 38vw;
width: 24vw;
height: 24vw;


}

.startButton  {

  background-color: blueviolet;
  height: 120px;
  width: 120px;
  border-radius: 100%;

}


body    {
    background-color: black;
}
#demo2  {

    color: white;
}


#demo3 {

color: white;
font-size: 72px;
text-justify: auto;
align-items: center;

}

#button1    {

    background-color: red;
    border-radius: 100% 0 0 0;
    
    

}

#button2    {

    background-color: blue;
    border-radius: 0 100% 0 0;
   
}

#button3    {

        background-color: green;
        border-radius: 0 0 0 100%;
       
}

#button4    {

    background-color: yellow;
    border-radius: 0 0 100% 0;
}


  

 